default.platform = Android
default.version = 13.0
default.projectName = TestProps
default.deviceName = emulator-5554
default.noreset = false
default.appActivity = x.y.z
default.androidHome = /Users/anshal/Library/Android/sdk
default.androidSdkRoot = /Users/anshal/Library/Android/sdk
default.javaHome = /Users/anshal/.sdkman/candidates/java/current
